@model SeminarCore2.Models.Seminar

@{
    ViewData["Title"] = "Details";
    string StatusDaNe(bool? status, bool statusText = false)
    {
        string output = "";

        if (statusText)
        {
            output = (status == false ? "Otvoren" : "Zatvoren");
        }
        else
        {
            output = (status == false ? "color:royalblue" : "color:crimson");
        }
        return output;
    }
}

<h1>Details</h1>

<div>
    <h4>Seminar</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Naziv)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Opis)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Datum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Datum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PopunjenDaNe)
        </dt>
        <dd class="col-sm-10">
            <span style=@(StatusDaNe(Model.PopunjenDaNe))>
                @(StatusDaNe(Model.PopunjenDaNe, statusText: true))
            </span>
        </dd>
        <dt class="col-sm-2">
            Count
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Predbiljezbe.Count)
        </dd>

        <!------>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Predbiljezbe)
        </dt>

        @if (Model.Predbiljezbe.Count > 0)
        {
            <dd class="col-sm-10">
                <table class="table">
                    <tr>
                        <th>Ime</th>
                        <th>Prezime</th>
                    </tr>
                    @foreach (var item in Model.Predbiljezbe)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Prezime)
                        </td>
                    </tr>
                    }
                </table>
            </dd>
        }
        else
        {
            <dd class="col-sm-10">
                None
            </dd>
        }
        <!------>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SeminarID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
