@model PaginatedList<SeminarCore2.Models.Predbiljezba>
@inject SignInManager<ApplicationUser> signInManager

@{
    ViewData["Title"] = "Lista Predbiljezbi";

    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<p>
    <h3>Predbiljezbe</h3>
</p>

<form asp-action="Index" method="get" class="form-inline">
    <div class="form-group mb-2">
        <label for="src" class="mr-2">Search:</label>
        <input type="text" id="src" class="form-control form-control-sm mr-1" name="SearchString" placeholder="Enter Search Keyword" value="@ViewData["CurrentFilter"]">
    </div>

    <div class="form-group mb-2">
        <label for="search_category" class="mr-2">Category:</label>
        <select id="search_category" class="form-control form-control-sm mr-1" name="search_category" asp-items="ViewBag.categoryDropDown"></select>
    </div>

    <div class="form-group mb-2">
        <label for="status" class="mr-2">Filter by status:</label>
        <select id="status" class="form-control form-control-sm mr-1" name="status" asp-items="ViewBag.statusDropDown"></select>
        <span asp-validation-for="@Model[0].StatusDaNe" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-sm btn-dark mb-2">Search</button>
    <button asp-action="Create" class="btn btn-sm btn-secondary mb-2 ml-1">Create New</button>
    <a asp-action="index" class="btn btn-sm btn-secondary mb-2 ml-1">Reset</a>
</form>


@if (!Model.Any())
{
    <h3>No results found!</h3>
}
else
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model[0].Datum)
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["ImeSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-currentStatus="@ViewData["CurrentStatus"]" asp-route-currentSearchCategory="@ViewData["CurrentSearchCategory"]">@Html.DisplayNameFor(model => model[0].Ime)</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["PrezimeSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-currentStatus="@ViewData["CurrentStatus"]" asp-route-currentSearchCategory="@ViewData["CurrentSearchCategory"]">@Html.DisplayNameFor(model => model[0].Prezime)</a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Adresa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].BrojTelefona)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].StatusDaNe)
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["NazivSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-currentStatus="@ViewData["CurrentStatus"]" asp-route-currentSearchCategory="@ViewData["CurrentSearchCategory"]">@Html.DisplayNameFor(model => model[0].Seminar.Naziv)</a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Datum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Prezime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Adresa)
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.Email)*@
                        <a href="mailto:@(item.Email)?Subject=Hello%20@(item.Ime)" target="_top">@@</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BrojTelefona)
                    </td>
                    <td>
                        <span style=@(GlobalFunctions.StatusDaNe(item.StatusDaNe, kontroler: "predb"))>
                            @(GlobalFunctions.StatusDaNe(item.StatusDaNe, statusText: true, kontroler: "predb"))
                        </span>
                        @*@Html.DisplayFor(modelItem => item.StatusDaNe)*@
                        @*<span style=@(item.StatusDaNe == false ? "color:crimson" : !item.StatusDaNe.HasValue ? "color:seagreen" : "color:royalblue" )>
                                @(item.StatusDaNe == false ? "Odbijen" : !item.StatusDaNe.HasValue ? "Neobradjen" : "Odobren")
                            </span>*@
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Seminar.Naziv)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.PredbiljezbaID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.PredbiljezbaID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.PredbiljezbaID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="btn btn-light" style="pointer-events: none">
        Page <span class="badge badge-primary">@(Model.PageIndex)</span>
    </div>

    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       asp-route-currentStatus="@ViewData["CurrentStatus"]"
       asp-route-currentSearchCategory="@ViewData["CurrentSearchCategory"]"
       class="btn btn-light @prevDisabled">
        Previous
    </a>

    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       asp-route-currentStatus="@ViewData["CurrentStatus"]"
       asp-route-currentSearchCategory="@ViewData["CurrentSearchCategory"]"
       class="btn btn-light @nextDisabled">
        Next
    </a>

    <span class="btn btn-block disabled">Displaying: @Model.Count() results</span>
}