@model IEnumerable<SeminarCore2.Models.Seminar>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NazivSortParm"]">@Html.DisplayNameFor(model => model.Naziv)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opis)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DatumSortParm"]">@Html.DisplayNameFor(model => model.Datum)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PopunjenDaNe)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["BrojSortParm"]">@Html.DisplayNameFor(model => model.Predbiljezbe)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PopunjenDaNe)
            </td>
            <td>
                @if (item.Predbiljezbe.Count > 0)
                {
                    @Html.DisplayFor(modelItem => item.Predbiljezbe.Count)
                }
                else
                {
                    <b>Nema</b>
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SeminarID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SeminarID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SeminarID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
